.header-section {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 1em 6em;
  }

  .render-login-name{
    position: absolute;
    margin: 45px;
    padding-top: 10px;
    display: flex;
    color: blue;
  }
  
  .nav-bar {
    display: flex;
  }
  
  .nav-link {
    font-size: 1.5em;
    margin-left: 1em;
    padding: 0.5em;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: var(--button-bg);
    border-radius: 25px;
  }
  
  a:link {text-decoration: none;}
